.nav_container {
  padding: 1rem 0;
  background-color: #ffffff;
  display: flex;
}

.logo {
  width: 15rem;
}

.menu_group {
  display: flex;
  list-style: none;
  margin-left: auto;
  margin-bottom: 0;
  align-items: center;
}

.menu_group .menu_list {
  padding: 0.62rem 1.25rem;
}

.menu_group .menu_list a,
.services_nav .list a {
  color: #2d2d2d;
  text-decoration: none;
  transition: 0.4s all ease-in-out;
}

.menu_group .menu_list a:hover,
.services_nav .list a:hover {
  color: var(--turnkey-primary-color);
}

.services_nav .list a:hover svg path {
  stroke: var(--turnkey-primary-color);
}

.menu_group .menu_list:last-child {
  margin-right: 1.25rem;
}

.services_nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 3.75rem;
  padding: 0.62rem 0;
  border-top: 1px solid #e9e6e2;
  margin-bottom: 0;
}

.services_nav .list,
.sub_service_group li {
  display: inline-flex;
  align-items: center;
  padding: 0.62rem;
  gap: 0 0.62rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #2d2d2d;
  position: relative;
}

.sub_service_group {
  position: absolute;
  z-index: 3;
  top: 40px;
  left: 0;
  width: 250px;
  padding-left: 0;
  padding: 0.62rem;
  border-radius: 0rem 0.5rem 0.5rem 0.5rem;
  background-color: #ffffff;
  box-shadow: 0px -1px 30px 0px rgba(0, 0, 0, 0.1);
  transition: 0.4s all ease;
  /*  */
  animation: fadeIn 0.5s ease;
}

.sub_service_group li {
  font-size: 0.875rem;
}

.hide .sub_service_group {
  visibility: hidden;
  opacity: 0;
}

.show .sub_service_group {
  visibility: visible;
  opacity: 1;
}

.dropdown_icon_holder svg {
  transition: 0.4s all ease-in-out;
}

.hide .dropdown_icon_holder svg {
  transform: rotate(0deg);
}

.show .dropdown_icon_holder svg {
  transform: rotate(180deg);
}

@media screen and (max-width: 991.9px) {
  .nav_wrapper {
    position: relative;
  }

  .mobile_nav_holder {
    background-color: #ffffff;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
  }

  .hide_mob_menu {
    /* height: 0; */
  }

  .show_mob_menu {
    max-height: 1000px;
  }

  .mobile_nav_holder .menu_group,
  .mobile_nav_holder .services_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    border: none;
  }

  .mobile_nav_holder .menu_group,
  .mobile_nav_holder .services_nav,
  .btn_holder {
    max-width: 720px;
    margin: 0 auto;
  }

  .mobile_nav_holder .menu_group li,
  .mobile_nav_holder .services_nav li,
  .btn_holder {
    padding: 1rem 1.25rem;
    font-weight: 600;
  }

  .mobile_nav_holder .services_nav li {
    flex-direction: column;
    align-items: flex-start;
  }

  .mobile_nav_holder .sub_service_group li {
    padding: 1rem 1rem 1rem 0;
    display: flex;
    font-weight: 400;
  }

  .mobile_nav_holder .sub_service_group li:first-child {
    padding-top: 1.5rem;
  }

  .mobile_nav_holder .sub_service_group li:last-child {
    padding-bottom: 0;
  }

  .mobile_nav_holder .sub_service_group {
    position: unset;
    box-shadow: none;
    padding: 0;
    width: 100%;
  }

  .mobile_nav_holder .dropdown_icon_holder {
    padding: 0.15rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .hide .sub_service_group {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }

  .show .sub_service_group {
    visibility: visible;
    opacity: 1;
  }

  .menu_icon_container .menu_icon
  .menu_icon_container .close_menu_icon {
    transition: opacity 0.3s ease-in-out;
  }

  .show_menu .menu_icon svg{
    opacity: 0;
  }

  .show_menu .close_menu_icon svg{
    opacity: 1;
  }

  .hide_menu .menu_icon svg{
    opacity: 1;
  }

  .hide_menu .close_menu_icon svg{
    opacity: 0;
  }



  .menu_icon_container svg {
    cursor: pointer;
    transition: 0.4 all ease-in-out;
  }
}

@media screen and (max-width: 767.9px) {
  .mobile_nav_holder .menu_group,
  .mobile_nav_holder .services_nav,
  .btn_holder {
    max-width: 540px !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
